
html{
  height: 100%;
}

body{
  font-family: Varela;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  color: #474747;
}

body *{
  box-sizing: border-box;
}

body a{
  transform: perspective(1px) translateZ(0);
  backface-visibility: hidden;
}

#root{
  height: 100%;
}

#root > div{
  height: 100%;
}

.grecaptcha-badge{
  z-index: 100;
}


.custom-shape-divider-bottom-1591444747 {
    position: fixed;
    bottom: 0;
    left: -5%;
    width: 110%;
    line-height: 0;
    transform: rotate(180deg);
    opacity: 0.1;
    z-index: -1;
}

.custom-shape-divider-bottom-1591444747 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1591444747 .shape-fill {
    fill: #EF5777;
}
